[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=multi-user.target
Wants=multi-user.target

[Service]
User=root
PAMName=login
EnvironmentFile=-/etc/default/weston
StandardError=journal
PermissionsStartOnly=true
IgnoreSIGPIPE=no

ExecStart=/usr/bin/weston --tty=1 --idle-time=0 --log=/var/log/weston.log

[Install]
WantedBy=multi-user.target
