[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=systemd-user-sessions.service

[Service]
User=root
PAMName=login
EnvironmentFile=-/etc/default/weston
StandardError=journal
PermissionsStartOnly=true
IgnoreSIGPIPE=no

ExecStart=/usr/bin/weston-start -v -e -- $OPTARGS
